@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem ;
}

/* html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-thumb{
    background: #d77f7f;
} */
section{
    padding: 3rem 9px;
}
span{
  color: #d77f7f;  
}

.heading{
    text-align: center;
    color: #222;
    margin-bottom: 3rem;
    font-size: 4rem;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(-4rem) scale(0.4);
    }
}
 .header{
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    /* z-index: 1000; */
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    background: #fff;
    display: flex;
    /* align-items: center0; */
    justify-content: space-between;
    padding: 1.5rem 9%;
} 
 .header .logo{
   font-size: 2.5rem;
   color: #222;
   font-weight: bolder; 
}
.header .logo i{
    color: #d77f7f;
} 
.header .navbar a{
    margin: 0 1.5rem;
    font-size: 1.7rem;
    color: #222;
}
.header .navbar a:hover{
    color: #e60000;
}
.header .icons div,
.header .icons a{
    height:  4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.7rem;
    color: #222;
    margin-left: .3rem;
    text-align: center;
    cursor: pointer;
} 
.header .icons a:hover,
.header .icons div:hover{
    background:#e60000;
    color: #fff;
}
/* .header #menu-btn{
    display:none;
} */
.home{
    position: relative;
    padding: 0;
}
 .home .slide{
    padding: 7rem;
    display: flex;
    min-height: 80vh;
    display: none;
}
.home .slide .content{
    margin: 60;
    text-align: left;
}
.home .slide{
    display: flex;
}
.home .slide .content span{
    color: #fff;
    display: block;
    font-size: 9rem;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    animation: fadeIn .2s linear backwards;
    text-transform: uppercase;
    
}
.home .slide .content span:hover{
    color: #d77f7f;
}
.home .slide .content h3{
    color: #fff;
    font-size: 2rem;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    animation: fadeIn .2s linear backwards .4s;
      
}


.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}
.category .box-container .box{
    text-align: center;

}
.category   .box-container .box:hover h3{
    color: #d77f7f;
}
.category .box-container .box img{
    height: 14rem;
    margin-bottom: 1rem;
}
.category .box-container .box h3{
    font-size: 1.7rem;
    color: #222;
    font-weight: bold;  
}
.shop {
    color: #eee;
}
.shop .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(36rem, 2fr));
   gap: 3rem;
}   
.shop .box-container .box{
    text-align: center;
    background: #fff;
    border: 0.2rem solid #222;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);

}
.shop .box-container .box:hover .img img {
    transform: scale(1.1);
}
.shop .box-container .box .img{
   position: relative;
   overflow: hidden; 
}
.shop .box-container .box .img img {
    height: 20rem;
}
.shop .box-container .box .content{
    padding: 2rem;
}
.shop .box-container .box .content h3{
   font-size: 2rem;
   color: #222;
   padding-bottom: .5rem;
   font-weight: normal;
}
.shop .box-container .box .content .price{
    font-size: 2rem;
    font-weight: bolder;
    color: #d77f7f;
}
.shop .box-container .box .content .price .span{
    color: #666;
    font-size: 1.7rem;
    text-decoration:line-through;
}
.img1 {
    background: url(images/img3.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* justify-content: right; */
    
    

}
.img1 .content{
    max-width: 40rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 2rem;
    text-align:center;
    margin: 10rem 5rem;
    
}
.img1 .content span{
    font-size: 2rem;
}
/* .img1 .content h3{
    font-size: 3rem;
    color: #222;
    padding-top: .5rem;
}  */
.img1 .content p{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}
.img2 {
    background: url(images/img7.jpg)no-repeat;
    background-size: cover;
    background-position: center;

}
.img2 .cont{
    max-width: 40rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 2rem;
    text-align:center;
    margin: 10rem 10rem;
}
.img2 .cont span{
    font-size: 2rem;
}
/* .img2 .cont h3{
    font-size: 3rem;
    color: #222;
    padding-top: .5rem;
}  */
.img2 .cont p{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}

.footer {
    background: #f5f5f5;
  }
  
.footer .credit {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    padding: 1rem;
    border-top: 0.2rem solid #222;
    padding-top: 3rem;
    color: #777;
  }
  
  .footer .credit span {
    color: #e84393;
  }
 

/* media queries */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}
    @media(max-width:768px){
    .header #menu-btn{
        display: inline-block;
    }
    
    .header .navbar{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 0.2rem solid #222;
        border-bottom: 0.2rem solid #222;
        padding: 0.2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } 
     /* .header .navbar .active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }  */
    .header .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 1rem;
    }  
}
@media(max-width: 844) and (min-width: 390){
    html{
        font-size:50% ;
    }
    
}